.nw{
color: #15f546;
text-align: center;
font-size: 32px;
font-style: normal;
line-height: normal;
font-family: Merriweather;
}
.padding{
    padding: 177px 531px 383px 530px;
}

.tw{
color: #1515f5e1;
text-align: center;
font-family: Merriweather;
font-size: 60px;
font-style: normal;
font-weight: 900;
line-height: 95px;
}
.bener{
    background-image: url('../resources/bener.png.png');
    width: 1320px;
    height: 600px;
    border: 16px;
    
}
.new-year{
    text-align: center;
    padding: 36px;
    font-size: 88px;
    color: #F00;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-style: normal;
    
}
.font-stl{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin: 60px;
}
.jh{
color: black;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.pic h1{
color: #15f546;
font-size: 64px;
padding: 126px 497px 0px 126px;

}
.pic p{
padding: 0px 497px 0px 126px;
color: rgba(250, 245, 245, 0.8);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.invite{
color: #f3efef;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
padding: 0px 1000px 0px 158px;
}
.pic{
    background-image: url('../resources/v.img.png');
    width: 1320px;
    height: 600px;
    border: 16px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 48px 48px ;
   

    
}